/* ==========================================================================
   FORMS RESET
   ========================================================================== */
form, fieldset, legend {
    padding: 0;
    border: none;
    margin: 0;
    display: block;
}
/*** FIELDS ***/
[type='text'], [type='tel'], [type='email'], textarea {
    width: 100%;
    padding: 12px 10px 6px;
    border: 2px solid @color-midnight;
    border-radius: 0;
    display: inline-block;
    vertical-align: middle;
    font: bold 28px @font-heading;
    color: @color-midnight;
    background: @color-white;
    transition: border-color @duration;
    appearance: none;

    .form-group & {
        width: 100%;
        max-width: 100%;
    }
}
textarea {
    max-width: 550px;
    height: 118px;
    resize: none;
    @media @tablet-sm {
        height: 180px;
    }
}
/* noinspection CssInvalidPseudoSelector */
::placeholder {
    color: @color-midnight;
    opacity: 1;
}
/*** BUTTONS ***/
[type='submit'], [type='reset'], [type='button'], button, .button {
    padding: 18px;
    border: 2px solid @color-midnight;
    display: inline-block;
    font: 800 15px/18px @font-default;
    color: @color-midnight;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    background: @color-white;
    transition: background-color @duration, color @duration;
    user-select: none;
    appearance: none;
    cursor: pointer;
    &:hover {
        text-decoration: none;
        color: @color-white;
        background: @color-midnight;
    }
}
/* ==========================================================================
   DEFAULT FORM
   ========================================================================== */
.form {
    &-group {
        margin-bottom: 20px;
        &:after {
            .clearfix;
        }
        &:last-child {
            margin-bottom: 0;
        }
        @media @tablet-sm {
            margin-bottom: 30px;
        }
    }
    &-label {
        display: block;
        font: 14px/20px @font-default;
        color: @color-black;
        letter-spacing: .1em;
        @media @tablet-sm {
            margin-bottom: 5px;
            font-size: 21px;
        }
    }
}
